:root {
  --bgDarkUnread: #2e2e2e;
  --bgDarkRead: #000000;
  --bgDarkSelected: #174ea6;
}

/*all*/
/*.nH { background-color: #000000 }*/
/*unread*/
.zA.zE { background-color: var(--bgDarkUnread); }
/*read*/
.zA.yO { background-color: var(--bgDarkRead); }
/*top-header*/
.D.G-atb { background-color: var(--bgDarkRead); }
/*inbox-sections*/
.nH.Wg { background-color: var(--bgDarkRead); }
/*selected-row*/
.zA.yO.x7 { color: #fff; background: var(--bgDarkSelected); }
